<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link href="../static/landing/edit.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main">
        <h1>₸ Put money</h1>
       <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
           <div class="container">
               <div class="item"><button><i class="fa fa-check" aria-hidden="true"></i></button></div>
           </div>
    </form>
        <div class="item" id="item2"><a href="/profile"><button class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a></div>

    </div>
</body>
</html>